.App {
  text-align: center;
}

.error-box{
  border: 1px solid red !important;
}

.success-box{
  border: 1px solid green !important;
}
.card{
  background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% ) !important;
}

h1,h3,p{
  color: white !important;
}
